<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cart</title>
    <link rel="stylesheet" href="/css/styles.css">
</head>
<body>
    <header>
        <h1>Cart</h1>
    </header>
    <div class="container">
        <ul class="cart-list">
            {{#each cart.products}}
                <li class="cart-item">{{this.product.name}} - {{this.quantity}} 
                    <button onclick="removeFromCart('{{cart._id}}', '{{this.product._id}}')">Remove</button>
                </li>
            {{/each}}
        </ul>
    </div>
    <script>
        async function removeFromCart(cartId, productId) {
            await fetch(`/api/carts/${cartId}/products/${productId}`, { method: 'DELETE' });
            location.reload();
        }
    </script>
</body>
</html>
